#container {
  border: 2px solid black;
  height: 75vh;
  width: 35%;
  margin: 0 auto;
}

#change {
  margin-bottom: 1%;
  font-size: 2rem;
}

button {
  font-size: 1rem;
  border-radius: 10px;
}

.selected_tool {
  border: 4px solid green;
  box-shadow: 3px -1px 1px green;
}

main {
  text-align: center;
}
